@model IEnumerable<ExIT.Models.DTO.SubjectOfUser>
@{
    ViewBag.Title = "AllSubjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .imgHolder {
        position: relative;
    }

        .imgHolder span {
            position: absolute;
            left: -4px;
            top: -15px;
            font-weight: bold;
            color: white;
            background-color: #e46809;
            width: 100px;
            border: none;
            text-align: center;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            line-height: 25px;
        }
</style>
<script src="~/Content/Script/AllSubjectCtrl.js"></script>
<div id="course-panel" class="panel panel-default" data-ng-controller="AllSubjectCtrl">
    <div class="panel-heading">
        <img src="/Content/image/courses-icon.png" class="panel-icon">
        <h3 class="panel-title">
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Trang Chủ</a></li>
                <li class="active">Hướng Đối Tượng C#</li>
            </ol>
        </h3>
    </div>
    <div class="panel-body">

        <div class="row">
            @{int i = 0;}
            @foreach (var item in Model)
            {
                { i++; }
                <div class="course-box">
                    <input type="hidden" name="courseid" value="" />
                    <div class="thumbnail">
                        <div class="imgHolder">
                            <img src="@item.imgUrl" alt="...">
                            <span>@item.Status</span>
                        </div>

                        <div class="caption">



                            @if (@Session["IsCheck"] != null)
                            {
                                if ((bool)@Session["IsCheck"] == true)
                                {
                                    <a href="/Home/SubjectDetail?subjectid=@item.ID"><h4>Bài @i: @item.name</h4></a>
                                    <p>@item.overview</p>
                                    <p>
                                        <a href="/Home/SubjectDetail?subjectid=@item.ID" class="btn btn-primary" role="button">Tham gia</a>
                                    </p>
                                }
                                else
                                {
                                    <a href="/Home/EnrollCourse?courseid=@item.CourseID"><h4>Bài @i: @item.name</h4></a>
                                    <p>@item.overview</p>
                                    <p>
                                        <a href="/Home/EnrollCourse?courseid=@item.CourseID" class="btn btn-primary" role="button">Tham gia</a>
                                    </p>
                                }
                            }
                            else
                            {
                                <a href="/Home/EnrollCourse?courseid=@item.CourseID"><h4>Bài @i: @item.name</h4></a>
                                <p>@item.overview</p>
                                <p>
                                    <a href="/Home/EnrollCourse?courseid=@item.CourseID" class="btn btn-primary" role="button">Tham gia</a>
                                </p>
                            }



                        </div>
                    </div>
                </div>
            }


        </div>
        <style>
            .compact-theme a {
                color: #2e6da4;
                position: relative;
                float: left;
                margin-left: -1px;
                text-decoration: none;
                border: 1px solid #2e6da4;
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                background: #fff;
                box-shadow: none;
            }

                .compact-theme a:hover {
                    background: #eee;
                }

            .simple-pagination li {
                padding: 0px;
            }

            .compact-theme .current {
                background: #337ab7;
                border: 1px solid #2e6da4;
                color: #fff;
                box-shadow: none;
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                position: relative;
                float: left;
                margin-left: -1px;
            }
        </style>
        <div id="pagination" style="float: right; margin-right: 10px;">

        </div>
    </div>
</div>

<script>
    jQuery(function ($) {
        var items = $(".course-box");

        var numItems = items.length;
        var perPage = 8;

        // only show the first 2 (or "first per_page") items initially
        items.slice(perPage).hide();
        // now setup pagination
        $("#pagination").pagination({
            items: numItems,
            itemsOnPage: perPage,
            cssStyle: "compact-theme",
            onPageClick: function (pageNumber) { // this is where the magic happens
                // someone changed page, lets hide/show trs appropriately
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;

                items.hide() // first hide everything, then show for the new page
                     .slice(showFrom, showTo).show();
            }
        });
    });
</script>