@model ExIT.Models.Examination
@{
    ViewBag.Title = "FinalResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="content-title">
        <h1>Trắc Nghiệm: Lập trình hướng đối tượng C#</h1>
    </div>
    <div id="question-number">
        <em>Kết quả kiểm tra</em>
    </div>
    <div id="test-content">
        <div id="ressult-table" class="panel-table">
            <ul class="header">
                <li>Bài trắc nghiệm</li>
                <li>Bài thực hành</li>
                <li>Kết quả</li>
            </ul>
            <ul class="body">
                @if (@Model != null)
                {
                    if (@Model.ThesisScore != null)
                    {

                        <li>@Model.ThesisScore/10</li>
                    }
                    else
                    {
                        <li>Chưa làm</li>
                    }
                    if (@Model.PracticalFile == null)
                    {
                        <li>Chưa làm</li>

                    }
                    else
                        if (@Model.PracticalFile != null && @Model.PraticalScore == null)
                        {
                            <li>Chưa chấm điểm</li>
                        }
                        else if (@Model.PraticalScore != null)
                        {
                            <li>@Model.PraticalScore/10</li>
                        }


                }
                else
                {
                    <li>Chưa làm</li>
                    <li>Chưa làm</li>
                }


                <li style="color: green; font-weight: bold; font-family: Arial; font-size: 30px;"> @ViewBag.Status</li>
            </ul>
        </div>
    </div>
    <div id="test-control">
        <div class="center-btn">
            <a class="btn-green" href="/Home/SubjectDetail?subjectid=@ViewBag.Subjectid">Trở Về</a>
        </div>
    </div>
</div>
