@model IEnumerable<ExIT.Models.Examination>
@{
    ViewBag.Title = "MarkingPratical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Script/MarkingPraticalCtrl.js"></script>
<div id="subject-panel" class="panel panel-default" data-ng-controller="MarkingPraticalCtrl">
    <img src="/Content/image/courses-icon.png" class="subject-icon">
    <h3 class="panel-title">
        <ol class="breadcrumb">
            <li><a href="/Home/Index">@ViewBag.Course</a></li>
            <li class="active">@ViewBag.Subject</li>
        </ol>
    </h3>

    <div class="panel-body">
        <!-- Default panel contents -->
        <div class="panel-body">
            <p style="font-size: 18px; font-family: BreeSerif">
                <strong>
                    Hãy lựa chọn khóa học mà thầy cô phụ trách để có thể chấm điểm
                    cho học sinh
                </strong>
            </p>
        </div>

        <!-- List group -->
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên học viên</th>
                    <th>Tập tin thực hành</th>
                    <th>Điểm</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var exam in Model)
                {
                    if (@exam.PraticalScore == null)
                    {
                        <tr>
                            @{i++;}
                            <th scope="row">@i</th>
                            <td>@exam.User.name</td>
                            <td><a href="@exam.PracticalFile">Download</a></td>
                            <td>
                                <input id="@exam.SubjectID-@exam.StudentID" style="width: 100px;" value="@exam.PraticalScore" type="text" class="form-control" placeholder="Điểm"
                                       onkeydown="return ( event.ctrlKey || event.altKey
                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                    || (95<event.keyCode && event.keyCode<106)
                    || (event.keyCode==8) || (event.keyCode==9)
                    || (event.keyCode>34 && event.keyCode<40)
                    || (event.keyCode==46) )">
                            </td>
                            <td>
                                <button data-ng-click="marking(@exam.StudentID, @exam.SubjectID)">Save</button>
                            </td>
                        </tr>
                    }

                }

            </tbody>
        </table>
        <div class="row subject-row">
            <div class="subject-box subject-btn">
                <a class="btn-red" href="/Home/Index">Trở về</a>
            </div>
        </div>
    </div>
</div>
