@model IEnumerable<ExIT.Models.DTO.QuestionViewModel>
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="remaintime" />

<script src="/Content/js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/Content/css/jquery.countdown.css" />
<script src="/Content/js/jquery.countdown.js"></script>
<script src="/Content/js/script.js"></script>
<script src="/Content/js/jquery.fs.boxer.js" type="text/javascript"></script>
<link rel="stylesheet" href="/Content/css/jquery.fs.boxer.css" />
<script>
    $(document).ready(function () {
        $(".boxer").boxer();
    });
</script>

<script src="~/Content/Script/QuizCtrl.js"></script>
<div id="content" data-ng-controller="QuizCtrl">

    <div id="content-title">
        <h1>Trắc Nghiệm: Lập trình hướng đối tượng C#</h1>
    </div>
    <div id="countdown" class="countdownHolder">
        
    </div>
    @{int i = 0;}
    @{int j = 0;}


    @foreach (var ques in Model)
    {
        <div id="question-number">
            <em>Câu hỏi số @(i + 1) </em>
            @{i++;}
        </div>
        <div id="test-content">
            <div id="test-question">
                @ques.QuestionContent
            </div>
            <div id="test-answers">

                @foreach (var answ in @ques.Answers)
                {
                    { j++; }

                    <div class="radio">
                        <label>
                            <input type="radio" name="optionradio@(ques.QuestionId)" id="optionsRadios@(j)" value="@(ques.QuestionId)-@(answ.AnswerId)">
                            @answ.AnswerContent
                        </label>
                    </div>
                }
            </div>
        </div>
    }
    <input type="hidden" value="@(i)" id="numbers" />
    <input type="hidden" value="@ViewBag.subjectid" id="subjectid" />
    <div id="test-control">
        <div class="right-btn">
            <a style="cursor: pointer;"class="btn-green" data-ng-click="submit()">Nộp bài</a>
        </div>
    </div>
</div>